{% extends 'base/base.html' %}
{% load static %}
{% block title %}Workforce Management Tool{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block content %}
<section class="image"></section>

    <div class="image" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">The <span class="w3-hide-small">Workforce Management </span> Tool</span>
        </div>
    </div>


{% endblock %}