{% extends 'base.html' %}

{% block content %}

<section class="home">
</section>
<section class="about">
<h2> About</h2>
<h3> Antiquities are Ireland's Premier Specialist Art and Collectibles</h3>
   {% if user.is_authenticated %}
        <li>Hi, {{ user.get_username }}</li>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        <li><a href="{% url 'password_reset' %}?next={{request.path}}">Reset Password</a></li>
   {% endif %}

</section>

{% endblock %}