{% extends 'base/base.html' %}
{% load static %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block content %}

{% for event in events %}
    <div class="card">
       <h4 class="card-header">Accepted holidays</h4>
            <div class="card-body">
            <p class="card-text">From {{ event.start_time }} To {{ event.end_time }}</p>
         </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">


        </blockquote>
        </div>
    </div>
{% endfor %}


{% endblock %}