{% extends 'base/base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">


  <form class='form-resgiter' method="post">
    <h2>Register Employee</h2>

    <p>Employee Username: {{ resources.username }}</p>
    {% csrf_token %}
      {% for field in form %}

        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    <button class="btn btn-primary" type="submit">Send Invitation</button>

  </form>
</div>
{% endblock %}