{% extends 'base/base.html' %}
{% load bootstrap_tags %}

{% block content %}



<div class="container-form">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
  <form class="form-signup" method="post" action="{% url 'login' %}">
      <h2>Sign in</h2>
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ login_form.username.label_tag }}</td>
        <td>{{ login_form.username }}</td>
      </tr>
      <tr>
        <td>{{ login_form.password.label_tag }}</td>
        <td>{{ login_form.password }}</td>
      </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Login" />

    <input type="hidden" name="next" value="{{ next }}" />

      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </form>

</div>
  {# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}