{% extends "base/base.html" %}
{% load bootstrap_tags %}

{% block content %}

<div class="container-form">
    <form class="form-reset" method="post">
        <p>Please specify your email address to receive instructions for resetting it.</p>
        <br>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{ form.email.errors }}
        <p><label for="id_email" class="control-label required-field">E-mail address:</label>
            {{ form.email }}
        <input class="btn btn-primary" type="submit" value="Reset password" /></p>
    </form>
</div>

{% endblock %}