{% extends 'base.html' %}
{% load bootstrap_tags %}
{% include 'base/nav.html' %}
{% block content %}


<h1 class="container">Add new user</h1>
 <form class="form-register" action="#" method="post" class="signup-form">
     {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="label" for="email">Username</label>
                    {{ registration_form.username }}
                    <span class="text-danger">{{ registration_form.errors.username }}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="label" for="email">Email Address</label>
                    {{ registration_form.email }}
                    <span class="text-danger">{{ registration_form.errors.email }}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="label" for="password">Password</label>
                    {{ registration_form.password1 }}
                    <span class="text-danger">{{ registration_form.errors.password1 }}</span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="label" for="password">Password</label>
                    {{ registration_form.password2 }}
                    <span class="text-danger">{{ registration_form.errors.password2 }}</span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
 </form>

{% endblock %}



