{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}

{% endblock breadcrumb %}

{% block content %}
<div class="row ">
    <div class="col-md-12">
        <div class="tile row">
            <div class="col-md-3 card" style="width: 18rem;">
                {% if request.user.is_staff %}
                    <a href="{% url 'scheduler:event_new' %}" class="btn btn-warning stretched-link card-title"> Add a new Shift </a>
                {% endif %}
                <div id="card-body">
                    <h4 class="mb-4 card-title">Running Shift</h4>
                    {% for event in events_month %}
                      <div class="card">
                        <a href="{% url 'scheduler:event_details' event.id %}" class="btn btn-primary stretched-link card-title"> {{ event.title }} </a>

                          <p>From: {{ event.start_time }}</p>
                          <p>To: {{ event.end_time }}</p>
                      </div>
                    {% empty %}
                      <p>No Running Shift Found</p>
                    {% endfor %}
                </div>
            </div>


            <div class="col-md-9">
                <div id="calendar"></div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
  <script src="{% static 'calender/main.js' %}"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var today = new Date();

        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,list'
          },
          initialDate: today,
          navLinks: true, // can click day/week names to navigate views
          selectable: true,
          selectMirror: true,
          select: function(arg) {
            console.log('clicked')

          },

          editable: true,
          dayMaxEvents: true,
          events: {{ events|safe }},

        });

        calendar.render();
      });

  </script>
{% endblock extrascripts %}
