<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta name="description" content="Event Dashboard" />
        <title>{% block title %}{% endblock title  %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Main CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        {% block extracss %}
        {% endblock extracss %}
    </head>
    <body class="app sidebar-mini">
        <!-- Navbar-->
        <header class="app-header">
            <a class="app-header__logo" href="{% url 'index' %}">WFM</a>
            <!-- Sidebar toggle button-->
            <ul class="app-nav">
                <li class="app-search">
                    {% if user.is_authenticated %}
                      <h4> Hi, {{ user.username }} </h4>
                    {% endif %}
                </li>

                <!-- User Menu-->
                <li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right">
                          {% if user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'get_shifts' %}"><i class="fa fa-user fa-lg"></i>Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'index' %}"><i class="fa fa-tachometer"></i>Dashboard</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'scheduler:calendar' %}"><i class="fa fa-calendar"></i>Scheduler</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'scheduler:event_holiday' %}"><i class="fa fa-calendar-minus-o"></i>Request Holiday</a>
                                </li>
                                 <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-lg"></i>Logout </a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'login' %}"><i class="fa fa-sign-in fa-lg"></i>Login</a>
                                </li>
                               <li>
                                   <a class="dropdown-item" href="{% url 'password_reset' %}?next={{request.path}}">
                                       <i class="fa fa-key fa-lg"></i>Reset Password</a>
                               </li>
                            {% endif %}
                    </ul>
            </ul>

        </header>

        <div class="app-title">
            {% block breadcrumb %}
            {% endblock breadcrumb %}
        </div>
        {% include 'base/nav.html' %}

            {% block content %}
            {% endblock content %}

        <footer class="footer-distributed" >
            <div class="footer-center">
                <div>
                    <i class="fa fa-github"></i>
                    <p>Copyright 2022 - Project Module</p>
                </div>
            </div>
        </footer>
        <!-- Essential javascripts for application to work-->
        {% include 'base/js.html' %}
        {% block extrascripts %}
        {% endblock extrascripts %}
    </body>
</html>
